<% layout('/layouts/boilerplate')%>
    <h1>List of All Campgrounds</h1>
    
    <h2>
        <a href='/campgrounds/new'>Make New Campground</a>
    </h2>
    <ul>
        <!-- 
            Display list of all campgrounds from db
         -->
        <% for(let campground of campgrounds) {%> 
            <li><a href='/campgrounds/<%= campground._id %>'><%= campground.title %></a></li>    
        <% } %> 
    </ul>
